<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DSL File Donor</title>
  <link rel='stylesheet' href='./bootstrap.css'>
<link rel='stylesheet' href='./all.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">DSL FD</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
        </div>
      </div>
      
     
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar">
            <a href="#">

              <span>Home</span>
     
            </a>
            
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <span>Datastore</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Datastore File Search

                  </a>
                </li>
                <li>
                  <a href="#">Datastore File Download</a>
                </li>
               </ul>
            </div>
          </li>
          
	<li class="sidebar-dropdown">
            <a href="#">
              <span>Dropzone</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Dropzone File Search

                  </a>
                </li>
                <li>
                  <a href="#">Dropzone File Download</a>
                </li>
               </ul>
            </div>
          </li>

	<li class="sidebar-dropdown">
            <a href="#">
              <span>Sftp-archive</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Sftp-archive File Search

                  </a>
                </li>
                <li>
                  <a href="#">Sftp-archive File Download</a>
                </li>
               </ul>
            </div>
          </li>

	<hr>

          <li>
            <a href="#">
              <span>Instructions</span>
            </a>
          </li>
          <li>
            <a href="#">              
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- fd-menu  -->
    </div>
 
</nav>
  



<!-- fd-wrapper  -->

  <main class="page-content">
    <div class="container-fluid">
      <h2>DSL File Donor</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>This application provides you the feasibility of searching for any file in Datastore, Dropzone and Sftp-archive locations.<p>

	  <p>The respective file can also be downloaded to your local systems without login into the unix box.</p>
          
        </div>
      </div>
      
	<br/>
	<h5>Instructions</h5>
      <hr>
 
		<p>Give so and so</p>

	<p>If you are giving</p>


  </main>
  <!-- page-content" -->
</div>

<!-- page-wrapper -->


<!-- partial -->
  <script src='./jquery.js'></script>
<script src='./popper.js'></script>
<script src='./bootstrap.js'></script>
<script  src="./script.js"></script>

</body>
</html>
